*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-decoration: none;
    color: #ffffff;
    background-color: #2F343A;
    font-family: system-ui;
}

li{
    list-style: none;
}

 a{
     text-decoration: none;
     color: #ffffff;
 }   

.container{
    width: 1110px;
    margin: 0px auto;
    
}

/* top */
.top{
       background-color: #C8A35F;
       padding: 16px 0;
}


.top .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top ul{
display: flex;
gap: 10px;
     
}

.top ul li{
    font-size: 12px;
    text-transform: uppercase;
}

.top a{
    font-size: 12px;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 27px 0;
}
.navbar .logo{
  display: flex;
    align-items: center;
    justify-content: center;
  
    gap: 10px;
}

.navbar .menu{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    
    
}

.navbar .menu li{
    text-transform: uppercase;
    font-size: 14px;
}
/* hero */
.hero{
    background-image: url(images/fura.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 155px 0px 220px ;
    /* font-family: system-ui; */
    /* margin: 0px auto; */
    /* display: flex; */
}

.hero .block{
    border: 1px #C8A35F solid;
    padding: 45px 70px;
    text-align: center;
    width: 920px;
    /* justify-content: center; */
    margin: 0px auto;

}
.hero .block h1{
    font-size: 64px;
    text-transform: uppercase;
    padding-bottom: 45px;
}


.hero .block p{
    font-size: 18px;
    
}